node-red/em-dial-flow.json
[{"id":"8f71ebcb.c54688","type":"mqtt-broker","z":"ddc50ffd.f5a96","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"ab58e588.440ce8","type":"mqtt out","z":"ddc50ffd.f5a96","name":"","topic":"led","qos":"","retain":"","broker":"8f71ebcb.c54688","x":1043.5,"y":184,"wires":[]},{"id":"13e14dc2.395872","type":"csv","z":"ddc50ffd.f5a96","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\n","temp":"power,unused,total power, vrms,living_room,guest,iwan,porch,hall,iwan_wall","x":299.5,"y":182,"wires":[["3431b61d.8f208a"]]},{"id":"2f16a9ea.68d196","type":"range","z":"ddc50ffd.f5a96","minin":"0","maxin":"2000","minout":"0","maxout":"4095","action":"scale","round":true,"name":"dial out","x":610.5,"y":182,"wires":[["5229bf9f.36277"]]},{"id":"3431b61d.8f208a","type":"function","z":"ddc50ffd.f5a96","name":"power","func":"var  newMsg = { payload: msg.payload.power, topic: \"power\" };\nreturn newMsg;","outputs":1,"noerr":0,"x":457.5,"y":181,"wires":[["2f16a9ea.68d196"]]},{"id":"127d9b89.f170b4","type":"rbe","z":"ddc50ffd.f5a96","name":"","func":"rbe","gap":"","start":"","inout":"out","x":885.5,"y":185,"wires":[["ab58e588.440ce8"]]},{"id":"ccb3b449.69caf8","type":"mqtt out","z":"ddc50ffd.f5a96","name":"","topic":"led","qos":"","retain":"","broker":"8f71ebcb.c54688","x":484.5,"y":409,"wires":[]},{"id":"6e7df031.56fca","type":"inject","z":"ddc50ffd.f5a96","name":"","topic":"","payload":"/dial/0/0/800","payloadType":"str","repeat":"","crontab":"","once":false,"x":94.5,"y":329,"wires":[["ccb3b449.69caf8"]]},{"id":"73ecdcba.0441a4","type":"inject","z":"ddc50ffd.f5a96","name":"","topic":"","payload":"/mode/1","payloadType":"str","repeat":"","crontab":"","once":false,"x":125.5,"y":415,"wires":[["ccb3b449.69caf8"]]},{"id":"f8dda444.03a038","type":"inject","z":"ddc50ffd.f5a96","name":"","topic":"","payload":"/background/60/60/60","payloadType":"str","repeat":"","crontab":"","once":false,"x":115.5,"y":521,"wires":[["ccb3b449.69caf8"]]},{"id":"2bd3f191.051f9e","type":"inject","z":"ddc50ffd.f5a96","name":"","topic":"","payload":"/background/30/0/0","payloadType":"str","repeat":"","crontab":"","once":false,"x":108,"y":606,"wires":[["ccb3b449.69caf8"]]},{"id":"8ea093bb.ae39f","type":"inject","z":"ddc50ffd.f5a96","name":"","topic":"","payload":"/background/0/60/0","payloadType":"str","repeat":"","crontab":"","once":false,"x":95,"y":673,"wires":[["ccb3b449.69caf8"]]},{"id":"37c54b80.37a894","type":"inject","z":"ddc50ffd.f5a96","name":"","topic":"","payload":"/background/60/60/0","payloadType":"str","repeat":"","crontab":"","once":false,"x":113,"y":736,"wires":[["ccb3b449.69caf8"]]},{"id":"ca0d96dd.826c28","type":"inject","z":"ddc50ffd.f5a96","name":"","topic":"","payload":"/dial/4000/0/800","payloadType":"str","repeat":"","crontab":"","once":false,"x":113,"y":249,"wires":[["ccb3b449.69caf8"]]},{"id":"5229bf9f.36277","type":"function","z":"ddc50ffd.f5a96","name":"dial_me","func":"var  newMsg = { payload: \"/dial/0/0/\"  + msg.payload };\nreturn newMsg;","outputs":1,"noerr":0,"x":754,"y":183,"wires":[["127d9b89.f170b4"]]}]
